# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

.mvn

# =========================
# Compiled files
# =========================
*.class

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
bin/

# =========================
# IntelliJ (if ever opened)
# =========================
.idea/
*.iml

# =========================
# VS Code (optional)
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db